@page
@model IndexModel
@{
    ViewData["Title"] = "Заглавная страница";
}

<div class="text-center">
    <p>Дополнительно задание для курсовой работы по ППС Козырева А. В. из гр. 4931 ГУАП</p>
</div>